<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Hallo {{accountName}}!
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="goToLogIn()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <ion-list color="light" id="dashboard-list5">
    <h3>
      Einladungen zu Circles
    </h3>
    <ion-item class="circlelist" *ngFor="let invite of invitList">
      {{invite.cName}}
      <button ion-button item-end clear round *ngIf="invite.invitId!=null && invite.cId!=null && invite.cName!='No invitations found.'" color="dark" style="margin: 0 0 0 0; padding: 0 10px 0 10px;" (click) = "answerInvitation(invite.invitId,invite.cId,true)">Annehmen <ion-icon style="font-size: 2em;" name="checkmark-circle" ></ion-icon></button>
      <button ion-button item-end clear round *ngIf="invite.invitId!=null && invite.cId!=null && invite.cName!='No invitations found.'" color="greyedout" style="margin: 0 0 0 0; padding: 0 10px 0 10px;" (click) = "answerInvitation(invite.invitId,invite.cId,false)">Ablehnen <ion-icon style="font-size: 2em;" name="close-circle" ></ion-icon></button>
    </ion-item>

  </ion-list>
  <ion-list id="dashboard-list4">
    <h3>
      Deine Circles
    </h3>
    <ion-item class="circlelist" *ngFor="let circle of circles" (click)="goToStartPage(circle.id, circle.name)">{{circle.name}}</ion-item>

  </ion-list>
  <ion-buttons end>
  <button ion-button (click)="onNewCircle()" icon-end round>Circle erstellen<ion-icon name="add"></ion-icon></button>
  </ion-buttons>
</ion-content>
