<!--
  Generated template for the BlackboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Blackboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Posts</h1>
  <ion-list id="posts">
    <ion-item-sliding *ngFor="let post of posts">
      <ion-item>
        <ion-card>
          <ion-item>
            <h1>{{post.title}}</h1>
            <p>{{post.date}} -
              <ion-badge item-end>@{{post.userName}}</ion-badge>
            </p>
          </ion-item>
          <ion-card-content>{{post.text}}</ion-card-content>

          <ion-row>
            <ion-col>
              <button ion-button icon-left small color="secondary" (click)="showPost(post)">
                <ion-icon name="text"></ion-icon>
                {{post.comments.length}} Comments
              </button>
              <button ion-button icon-left small color="danger" (click)="deletePost(post)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>
                11h ago
              </ion-note>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item *ngFor="let comment of post.comments">
                <p>{{comment.date}} -
                  <ion-badge color="dark" item-end>@{{comment.userName}}</ion-badge>
                </p>
                {{comment.text}}
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </ion-item-sliding>

    <ion-item>
      <ion-card>
        <ion-item>
          <!--<ion-label>Username</ion-label>-->
        <!--  <ion-input type="text" placeholder="title"></ion-input>
        </ion-item>
        <ion-item>
          <h1>post.title</h1>
          <!--<ion-label>Username</ion-label>-->
        <!--  <ion-input type="text" placeholder="title"></ion-input>
          <!--<ion-list inset>-->
            <!--<ion-item>-->
              <!--<ion-label>Username</ion-label>-->
              <!--<ion-input type="text"></ion-input>-->
            <!--</ion-item>-->
            <!--<ion-item>-->
              <!--<ion-label>Password</ion-label>-->
              <!--<ion-input type="password"></ion-input>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
        <!--  <p>
            <!--{{ date | date: 'dd.MM.yy HH:mm' }}
            --->
        <!--    <ion-badge item-end>@{{userName}}</ion-badge>
          </p>
        </ion-item>
        <ion-card-content>post.text</ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left small color="secondary">
              <ion-icon name="send"></ion-icon>
              Send
            </button>
            <button ion-button icon-left small color="danger">
              <ion-icon name="remove"></ion-icon>
              Clear
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{post.date}}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" large icon-only (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content> -->
<ion-header>

  <ion-navbar>
    <ion-title>Blackboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Posts</h1>
  <ion-list id="posts">
    <ion-item-sliding *ngFor="let post of posts; let ind = index">
    <ion-item >
      <ion-card>
        <ion-item>
          <h1>{{post.userName}}</h1>
          <p>{{post.date | date: 'dd.MM.yy HH:mm'}}</p>
        </ion-item>
        <ion-card-content><h2>{{post.text}}</h2></ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left small color="secondary" (click)="showPost(ind)">
              <ion-icon name="text"></ion-icon>
              <div>{{post.comments.length}} Comment(s)</div>
            </button>
            <button ion-button icon-left small color="danger" (click)="deletePost(ind)">
              <ion-icon name="trash"></ion-icon>
              <div>Delete</div>
            </button>
          </ion-col>
        </ion-row>
      <ion-list id="comments">
        <ion-item-sliding *ngFor="let comment of post.comments">
          <ion-item>
              <h3>{{comment.userName}}</h3>
              <p>{{comment.text}}</p>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" large icon-only (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
