timeline {
  .social-cards ion-col {
    padding: 0;
  }

  h3{
    padding-left: 5px;
  }

  ion-card-content {
    padding-bottom: 0 !important;
  }

  .votes {
    color: #c5c5c5;
    text-transform: none;
    margin: 0 !important;
    padding-left: 16px !important;
  }

  .buttons {
    margin-top: 5px !important;
  }

  .settings-icon{
    color: lightgrey;
  }

  p{
    padding: 4px 0px 0px 0px;
  }

  ion-content{
    background: #000;
  }
}

timeline-page {
  .scroll-content{
    background: rgb(248,248,248) !important;
  }
}
