chat {
  .user_name {
    color: #afafaf;
  }
  .mine {
    background: #B0E0E6!important;
  }

  .time {
    color: #afafaf;
    float: right;
    font-size: small;
  }
  .message_row {
    background-color: #fff;
  }

  .card {
    margin: 5px;
    border-radius: 10px;
  }

  .message {
    padding: 0;
  }
}
