chat {
  .user_name {
    color: #afafaf;
  }
  .my_message {
    color: #000 !important;
  }
  .other_message {
    background: #dcdcdc !important;
    color: #000 !important;
  }
  .time {
    color: #afafaf;
    float: right;
    font-size: small;
  }
  .message_row {
    background-color: #fff;
  }

  .card {
    margin: 5px;
  }

  .message {
    padding: 0;
  }
}
